.form-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
}

label {
  display: block;
}

.clocks-container {
  display: flex;
  justify-content: space-around;
}

.clocks {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 100%;
  position: relative;
}

.clocks::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 100;
}

.arrow {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  transform-origin: left;
}

.arrow-span {
  position: absolute;
  width: 200px;
  height: 200px;
}

.arrow_second {
  z-index: 20;
}

.arrow_minute {
  z-index: 10;
}

.arrow_second::before {
  content: "";
  height: 90px;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: crimson;
  transform: translateX(-50%);
}

.arrow_minute::before {
  content: "";
  height: 90px;
  width: 2px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: black;
  transform: translateX(-50%);
}

.arrow_hour::before {
  content: "";
  height: 90px;
  width: 4px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: gray;
  transform: translateX(-50%);
}

.button_inner {
  text-align: right;
}